.bg{background:#167efb;color:#167efb;}

/* Radio group */
.segmented {
    display:flex;
    flex-flow:row wrap;
    box-sizing:border-box;
    font-family:"Helvetica Neue";
    font-size:90%;
    text-align:center;
    padding-top:10px;
}
.segmented label {
    display:block;
    flex:1;
    box-sizing:border-box;
    border:1px solid #167efb;
    border-right:none;
    color:#167efb;
    margin:0;
    padding:.4em;
    cursor: pointer;
    user-select:none;
    -webkit-user-select:none;
}
.segmented label.checked {
    background:#167efb;
    color:#fff;
}
.segmented.inverted label {
    border-color:#fff;
    color:#fff;
    background:none;
}
.segmented.inverted label.checked {
    background:#fff;
    color:inherit;
}
.segmented label:first-child {
    border-radius:.4em 0 0 .4em;
    border-right:0;
}
.segmented label:last-child {
    border-radius:0 .4em .4em 0;
    border-right:1px solid;
}
.segmented input[type="radio"] {
    appearance:none;
    -webkit-appearance:none;
    margin:0;
    position: absolute;
}


.badge-error {
	display:inline-block;min-width:10px;padding:3px 7px;font-size:12px;font-weight:700;line-height:1;color:#fff;text-align:center;white-space:nowrap;vertical-align:middle;background-color:#b94a48;border-radius: 10px;
}

.msg-jumbotron{	
	padding-top: 30px;
    padding-bottom: 30px;    
    color: inherit;
    background-color: #eee;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.list-group-item-group {
	display: flex;
	float: left;
	width: 100%;
}

.list-group-item-icon {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
}

.list-group-item-body {
	display: inline-block;
	float: left;
	width: 100%;
	padding-left: 10px;
}

.glyphicon-one-fine-blue-dot:before {
    content:"\25cf";
    font-size: 2em;
    color: #33adff;
}

.glyphicon-one-fine-none-dot:before {
    content:"\25cf";
    font-size: 2em;
    color: transparent !important;
}

